.card {
    flex-shrink: 0;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    transform: scale(0.95);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 40px;
    min-width: 80vw;
    max-width: 80vw;
    max-height: 80vh;
    min-height: 80vh;
}

.card.hidden {
    opacity: 1;
    transform: scale(1);
}
.card-image {
    display: flex;           /* Use flexbox to align the image */
    justify-content: flex-start; /* Align to the left */
    align-items: center;     /* Vertically center the image */
    height: 100%;            /* Ensure the parent height is occupied */
}

.card-image img {
    width: 100%;             /* Image occupies the full width of its container */
    height: auto;
    max-width: 50%;          /* Ensure the image only takes up 50% of the parent's width */
    border-radius: 8px;
    margin-bottom: 15px;
    object-fit: cover;       /* Ensure the image covers the area */
}

.card-content {
    margin-top: 15%;
    text-align: right;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #555;
}