/* CardsContainer.css */
.cards-container {
    height: 50%;
    margin-top: 10vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
    color: #333;
    padding: 10px;
    transition: opacity 0.3s ease;
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: 20px;
}

.arrow:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

.progress-indicator {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.progress-dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ccc;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.progress-dot.active {
    background-color: #333;
}